*.iso
mac_hdd.img
mac_hdd_ng.img
*.sha256sum
*.sucatalog
*.dmg
*.dist
*.smd
*.img
prebuilt
BaseSystem.img
BaseSystem.dmg
OpenCore-Catalina/EFI/OC/Resources/
.snapshots
.idea
.cache
backups
.vnc-port
disks
node_modules
http.json
serial_sets-*.tsv
osx-serial-generator/OSX-KVM
/osx-serial-generator/OSX-KVM/
.env
.tty
data
phantoms

local_*.sh
local/*
local